fastapi
uvicorn
requests
azure-identity
azure-mgmt-resourcegraph
azure-mgmt-monitor
azure-mgmt-resource
azure-mgmt-costmanagement
python-dotenv
mcp
azure-mgmt-monitor
pydantic
openai>=1.30.0
httpx
prometheus-fastapi-instrumentator

sqlalchemy
asyncpg
python-jose
passlib[bcrypt]
httpx
python-dotenv